body{
    background-color: rgb(107, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
}
p,label,hr{
    color: white;
    font-size: smaller;
}
.color{
    color: yellow;
}
h1{
    font-size: 50px;
    color: aqua;
}
h4{
    font-size: 20px;
    color: aqua;
}
.IMDB{
    text-decoration-line:underline;
    text-decoration-color:red ;
    color: red;
    font-family: ;
}
ul,ol,li{
    color: white;
    font-size: 13px;
    line-height: 1.3;
}
.border{
    border: solid red;
}
